<section>
    <h2>Pay Your Bill</h2>
    <form action="/charge" method="post" id="payment-form">
      <p>You owe $387</p>
      <input type="number" min="0" max="387" name="amount" id="amount" placeholder="enter amount" />
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- a Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors -->
        <div id="card-errors" role="alert"></div>
      </div>
      <button>Submit Payment</button>
    </form>
</section>
<script type="text/javascript" src="stripe.js"></script>
